
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    color: white;
    text-decoration: none; /* щоб забрати підкреслення */
}


section {
    padding: 20px;  /* внутрішні відступи */ 
    margin: 20px; /* зовнішні відступи */ 
    background-color: white;
    border-radius: 8px; /* заокруглення країв */
}

section a{
    color: black;
    text-decoration: none;
}

section a b{
    color: black;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse; /* забирає відступи між клітинками */
} 

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}


 audio {
    display: block;
    margin: 20px;
    max-width: 100%;
}

video {
    max-width: 20%;
}